<%- include('partials/header') %>

<div class="home">
  <div class="container">
    <div class="home-part">
      <img class="logo" src="<%= data.image %>" />
      <p class="lead">Don't keep your secrets, share them anonymously!</p>
      <hr />
      <div class="home-part-buttons">
        <a class="btn btn-dark btn-lg" href="/signup" role="button">Sign Up</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Log In</a>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
